<!doctype html>
<html>
  
  <head>
<title>Home page</title>
    <meta charset="utf-8" />
	<style>
  		.first {
    		width: 321px;
		height: 54.75px;
		left: 61px;
		top: 46.67px;
		position: absolute;
		color: black;
		font-size: 50px;
		font-family: Inika;
		font-weight: 400;
		word-wrap: break-word;
		text-decoration: none;
  		}
  
	</style>
    <div style="width: 100%; height: 100%; position: relative; background: white">
    <img style="width: 100%; height: 100%; position: relative;" src="../static/homepage.png">
    
    <div style="width: 980px; height: 491px; left: 0px; top: 0px; position: absolute; background: rgba(239.51, 207.98, 96.21, 0.80)"></div>
    <div style="width: 980px; height: 260px; left: 0px; top: 140px; position: absolute; text-align: center"><span style="color: black; font-size: 100px; font-family: Inder; font-weight: 400; word-wrap: break-word">FashionMate<br/></span><span style="color: black; font-size: 50px; font-family: Inder; font-weight: 400; word-wrap: break-word">Your Personal Style Assistant</span><span style="color: black; font-size: 70px; font-family: Inder; font-weight: 400; word-wrap: break-word"> </span></div>

    <div style="width: 443px; height: 149px; left: 534px; top: 800px; position: absolute; mix-blend-mode: hard-light">
        <div style="width: 443px; height: 149px; left: 0px; top: 0px; position: absolute; background: #09BFF9"></div>
        <div ><a href="second.htm" class="first">Start To Scan</a></div>
    </div>
	
    <div style="width: 313px; height: 127px; left: 1180px; top: 820px; position: absolute; mix-blend-mode: hard-light">
        <div style="width: 313px; height: 127px; left: 0px; top: 0px; position: absolute; background: #09BFF9"></div>
        <div style="left: 51px; top: 33px; position: absolute; color: black; font-size: 50px; font-family: Inter; font-weight: 400; word-wrap: break-word; "><a href="about_us.htm" style="text-decoration: none">About us</a></div>
    </div>
    <div style="width: 313px; height: 145px; left: 1180px; top: 655px; position: absolute">
        <div style="width: 313px; height: 145px; left: 0px; top: 0px; position: absolute; mix-blend-mode: hard-light; background: #09BFF9"></div>
        <div style="left: 40px; top: 42px; position: absolute; color: black; font-size: 50px; font-family: Inter; font-weight: 400; word-wrap: break-word; "><a href="language.htm" style="text-decoration: none">Language</a></div>
    </div>
</div>
  </head>
  <body>
    
  </body>
</html>